src
test
tsconfig.json
tsconfig.module.json
tslint.json
.travis.yml
.github
.prettierignore
.vscode
.cache
build/docs
**/*.spec.*
coverage
.nyc_output
*.log
txrepTestCases.ts
tests.yaml
demo/*
.editorconfig
CHANGELOG.md
README.md
